[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dask = {extras = ["complete"], version = "*"}
pyarrow = "*"
gcsfs = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
